

@model IEnumerable<KQStore.Models.AD>

@foreach (var item in Model)
{
    if (item.AdsId == 2)
    {
        <div class="carousel-item active" style="height: 500px;">

            <img class="img-fluid" src="@Url.Content(item.AdsImage)" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 800px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">@item.AdsDetail</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">@item.AdsName</h3>
                    <a href="~/Product/Index" class="btn btn-light py-2 px-3">Buy Now</a>
                </div>
            </div>

        </div>
    }
    else
    {
        <div class="carousel-item" style="height: 500px;">

            <img class="img-fluid" src="@Url.Content(item.AdsImage)" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 800px;">
                    <h4 class="text-light text-uppercase font-weight-medium mb-3">@item.AdsDetail</h4>
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">@item.AdsName</h3>
                    <a href="~/Product/Index" class="btn btn-light py-2 px-3">Buy Now</a>
                </div>
            </div>

        </div>
    }

}
